<app-table></app-table>

<table>
  <tr>
    <th>Sr No</th>
    <th colspan="2">Task</th>
    <th>Estimated Time (hours)</th>
  </tr>
  <tr>
    <td>1</td>
    <td colspan="2">CC For Material Table</td>
    <td>01:00</td>
  </tr>
  <tr>
    <td>3</td>
    <td colspan="2">Job responsibility Listing</td>
    <td>02:00</td>
  </tr>
  <tr>
    <td>4</td>
    <td colspan="2">Serching And Filtering</td>
    <td>01:00</td>
  </tr>
  <tr>
    <td>5</td>
    <td colspan="2">Making Api and DataBase Integration</td>
    <td>02:00</td>
  </tr>
  <tr>
    <td>6</td>
    <td colspan="2">Api Integration</td>
    <td>01:30</td>
  </tr>
  <tr>
    <td>6</td>
    <td colspan="2">Buffer Time</td>
    <td>01:00</td>
  </tr>

  <tr>
      <td colspan="3">Total Estd. time</td>
      <td>08:30</td>
  </tr>
</table>

<style>
  td{
    margin-left: 20px;
    margin-right: 20px;
  }
</style>

